{% extends 'accounts/registration/registration_base.html' %}

{% block head_title %}Password reset | PlayPlanet{% endblock %}
{% block registration_head %}Password reset{% endblock %}

{% block registration_body %}
<div class="page-registration-password">
    <form method="POST" action="." class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="control-group">
            <label class="control-label" for="id_email">Your email address</label>
            <div class="controls">{{ form.email }}</div>
            {{ form.email.errors }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">Reset password</button>
            <a href="{% url view_user_login %}" class="link"> Go back to Login page</a>
        </div>
    </form>
</div>
{% endblock %}