{% extends 'base.html' %}

{% block html_head %}
<script type="text/javascript">
$(document).ready(function() {

});
</script>
{% endblock %}

{% block body_content %}
<div class="page-publication-view">
    <div class="container">

        <div class="clearfix">
            <div class="publication-left">
                <div class="cover"><img src="{{ STATIC_URL }}images/sample/covers/cover4.jpg" /></div>
            </div>
            <div class="publication-right">
                <div class="publication-author">
                    <div class="avatar"><a href="#"><img src="{{ STATIC_URL }}images/sample/avatars/my.jpg" /></a></div>
                    <div class="name"><a href="#">ภาณุ ตั้งเฉลิมกุล</a></div>
                </div>

                <div class="title">ความน่าจะเป็นที่นี่จะเป็นชื่อหนังสือ</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu sapien sem, tempus rutrum urna. In auctor, justo eu feugiat tempor, erat est adipiscing lacus, ut faucibus lectus ligula eu arcu.</div>

                <div class="buy">
                    <span class="price">100 บาท</span>
                    <a href="#" class="style-button"><i class="icon-shopping-cart icon-white"></i> ซื้อหนังสือ</a>
                </div>
            </div>
        </div>

        <div class="why">
            <hr><span>ทำไมหนังสือเล่มนี้ถึงน่าซื้อ?</span>
        </div>

        <div class="stats">
            <div class="stat">
                <em class="number">120 คน</em>
                <span class="measure">แนะนำหนังสือเล่มนี้</span>
            </div>
            <div class="stat">
                <em class="number">50 ข้อความ</em>
                <span class="measure">เกี่ยวกับหนังสือเล่มนี้ใน Twitter</span>
            </div>
            <div class="stat">
                <em class="number">500 เล่ม</em>
                <span class="measure">ถูกตีพิมพ์ให้นักอ่าน</span>
            </div>
        </div>

        <div class=excerpt>
            <h2>ลองอ่านส่วนหนึ่งดูก่อนตัดสินใจ</h2>
            <div class="content">
                <p>ปูอัดแชมเปี้ยนพูลไทยแลนด์สไตรค์สเต็ป ไรเฟิลผู้นำปฏิสัมพันธ์ผลไม้ แจ๊กเก็ต แอพพริคอทแพนด้าสังโฆซัพพลายเออร์ ฟรุต แรงใจรีสอร์ตมาม่าพุทธภูมินิรันดร์ดิสเครดิต เยอร์บีราซูโม่เฝอมอคคาไมค์อุปนายิกา ซาร์ดีนซ้อเพรสเดโมแอ็กชั่นแฟรนไชส์ วาซาบิ ล้มเหลววืดภคันทลาพาธศากยบุตรโนติส อ่วมวาทกรรมโฮปแม็กกาซีน ซูฮกดีพาร์ทเมนต์บูติกคาร์โก้สามช่า ยะเยือกบ๊วยภควัมปติซาร์ดีนแคมป์ สันทนาการพาสต้ารูบิค ปิโตรเคมีโลโก้ว้าวอินเตอร์เวิร์ก สเตเดียมสึนามิยากูซ่าเดี้ยงแตงโมพันธกิจ</p>
                <p>วีไอพีโปรเจกต์พาสเจอร์ไรส์มลภาวะลีก เชอร์รี่กรอบรูปรากหญ้าไมค์ เบอร์เกอร์ตรวจทานสไตล์คอร์สเอสเพรสโซบิ๊ก ซินโดรมฮัลโหลจึ๊ก โปรเจ็ค ผู้นำฮิปโปบอยคอตต์โปรเจกต์ ป๊อปสวีทปักขคณนา รายชื่อโฟมแอดมิสชัน อินดอร์คองเกรสรีสอร์ตบรา แฮมเบอร์เกอร์เป็นไงอิมพีเรียลแบ็กโฮไทยแลนด์ ง่าว ผลักดัน ฮัลโหล แมชชีนดิกชันนารีสไตรค์โดมิโน สหรัฐเฟรช ลาเต้มาร์จินคอนเซ็ปต์เทรนด์</p>
                <p>พาร์ทเนอร์ เซ็นเซอร์ มาร์คออเดอร์แรงใจ แจ๊กเก็ตคอลัมน์สไลด์รามาธิบดี เฝอออทิสติกเท็กซ์ง่าว สปิริต กฤษณ์ไทม์ ดั๊มพ์สตาร์ทเดชานุภาพ ดิสเครดิตแมนชั่นพอเพียงอุเทนสเตเดียมเฟรช แชมพูสไปเดอร์ปัจเจกชนซิ่ง ไฟลท์จุ๊ยคลับ ดยุก หมั่นโถวภควัมบดี ปูอัดซิ้มกุมภาพันธ์ แลนด์เสือโคร่งเบิร์น กลาสติวเตอร์ฮาราคีรี</p>
                <p>ป่าไม้ จุ๊ยพาเหรดเย้วโพสต์มาราธอน เบอร์เกอร์แตงโมเกย์แรงใจนอมินีสะบึม แครอทภควัทคีตา แคมปัสธรรมาภิบาลเปปเปอร์มินต์พูล ภูมิทัศน์ ถ่ายทำ โชว์รูมมาร์เก็ตติ้ง ออร์แกนดีลเลอร์สแตนดาร์ดสวีท หงวนเซนเซอร์เวิร์คการันตี มาร์จินซี้ไนน์ออดิทอเรียม คอลัมน์เนอะพาวเวอร์ก่อนหน้ายูวีแซลมอน โต๋เต๋วัคค์ยูวี สตริงธัมโมป๋าแคร็กเกอร์ราชานุญาต แชมพูซ้อแบล็คเวเฟอร์ ไฮไลต์ปักขคณนาจุ๊ยมายาคติยิว</p>
                <p>แฟ็กซ์เบอร์เกอร์ แอ็กชั่นคันธาระเซี้ยวอิเลียดเมี่ยงคำ เชฟชีสซาร์ดีนฮิปฮอปจิ๊กโก๋ ธุรกรรม อ่อนด้อยยากูซ่าฟีเวอร์เทควันโด ตุ๊กตุ๊กไมค์ดั๊มพ์ บุญคุณว้าวเพลซเนิร์สเซอรี ฟรังก์ตุ๋ยแชมเปญซัพพลายเออร์เสือโคร่ง เครปโบว์ฟอยล์ยิม บ๊วยทอร์นาโดยะเยือกตาปรือเอ๋อไบเบิล เจลฟีเวอร์ อาร์พีจีเจ๊าะแจ๊ะชะโนดธุรกรรมสะกอมพาเหรด อริยสงฆ์แอปพริคอทเพลซจึ๊กไฟแนนซ์ยูวี กษัตริยาธิราชลาเต้เฉิ่ม วิทย์นู้ดออร์แกนแจ็กพอตโฟนผลักดัน แกสโซฮอล์ซาบะรีโมตเกย์สามช่าปักขคณนา</p>
            </div>
        </div>

        <div class="final_buy">
            <a href="#" class="style-button"><i class="icon-shopping-cart icon-white"></i> ซื้อหนังสือ (100 บาท)</a>
        </div>
    </div>
</div>
{% endblock %}